<div class="footer-back">
  <footer class="container footer">
    <div class="footer__main">
      <div>
        <a class="navbar-brand" href="blog">7-PRICE</a>
      </div>
      <div class="footer__buttons">
        <button class="btn btn-warning">{{"footer.buttons.demo" | translate}}</button>
        <button class="btn btn-light">{{"footer.buttons.enter" | translate}}</button>
      </div>
    </div>
    <div class="footer__sub d-flex flex-column gap-4">
      <div class="footer__nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/solutions">{{"header.solutions" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tariffs">{{"header.tariffs" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">{{"header.blog" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">{{"header.about" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacts">{{"header.contacts" | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="footer__options d-flex gap-4">
        <div class="footer__phones d-flex flex-column">
          <span class="contact">+38 (093) 170 98 58</span>
          <span class="contact">+38 (096) 996 26 57</span>
        </div>
        <div class="footer__mail">
          <span class="contact">one@7-price.com</span>
        </div>
      </div>
    </div>
  </footer>
</div>


