<div class="container py-5 subscribe">
  <div class="subscribe__first">
    <h1 class="subscribe__title">{{"blog.subscribe.title" | translate}}</h1>
    <p class="subscribe__text">{{"blog.subscribe.text" | translate}}</p>

    <div class="container subscribe__buttons">
      <button class="btn btn-warning">{{"blog.subscribe.buttons.sub" | translate}}</button>
      <button class="btn btn-light">{{"blog.subscribe.buttons.ask" | translate}}</button>
    </div>
  </div>
  <div class="container subscribe__last">
    <img
      class="subscribe__img"
      src="./assets/Email.png"
      alt="mail"
    >
  </div>
</div>

